<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:tiles="http://www.thymeleaf.org">
    <title>W3Schools</title>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" th:href="@{/resources/css/w3.css }" href="resources/css/w3.css" type="text/css"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons"/>
    <body>

        <div class="w3-container blue">
            <i class="material-icons w3-opennav">menu</i> 
            <h1>Summer 2015</h1>
        </div>

        <div class="w3-row-margin">

            <div class="w3-col l4 m6">
                <div class="w3-card-2">
                    <img th:src="@{/resources/img/img_5terre.png}" style="width:100%"/>
                    <div class="w3-container">
                        <h4>5 Terre</h4>
                    </div>
                </div>
            </div>

            <div class="w3-col l4 m6">
                <div class="w3-card-2">
                    <img th:src="@{/resources/img/img_5terre.png}" style="width:100%"/>
                    <div class="w3-container">
                        <h4>Monterosso</h4>
                    </div>
                </div>
            </div>

            <div class="w3-col l4 m6">
                <div class="w3-card-2">
                    <img th:src="@{/resources/img/img_5terre.png}" style="width:100%"/>
                    <div class="w3-container">
                        <h4>Vernazza</h4>
                    </div>
                </div>
            </div>

            <div class="w3-col l4 m6">
                <div class="w3-card-2">
                    <img th:src="@{/resources/img/img_5terre.png}" style="width:100%"/>
                    <div class="w3-container">
                        <h4>Manarola</h4>
                    </div>
                </div>
            </div>

            <div class="w3-col l4 m6">
                <div class="w3-card-2">
                    <img th:src="@{/resources/img/img_5terre.png}" style="width:100%"/>
                    <div class="w3-container">
                        <h4>Corniglia</h4>
                    </div>
                </div>
            </div>

            <div class="w3-col l4 m6">
                <div class="w3-card-2">
                    <img th:src="@{/resources/img/img_5terre.png}" style="width:100%"/>
                    <div class="w3-container">
                        <h4>Riomaggiore</h4>
                    </div>
                </div>
            </div>

        </div>

    </body>
</html>